Repository pagopa/cstar-platform-azure-devops, pull requests merged in 2025-09, with the labels that each got.

#166 fix: update cdn profile and endpoint for asset register
  azure-devops/idpay-itn-projects/99_locals.tf
Labels: idpay-itn

#176 fix: rename eie pipeline with pari
  azure-devops/idpay-itn-projects/08_pipeline_test_performance.tf
Labels: status: applied, idpay-itn

#180 feat: [PAYMCLOUD-XXX] Enable cert diff pipeline
  azure-devops/core-projects/00_general.tf
  azure-devops/core-projects/00_keyvault.tf
  azure-devops/core-projects/00_secrets_azdo.tf
  azure-devops/core-projects/00_secrets_kv.tf
  azure-devops/core-projects/03_service_connection_tls_certificate.tf
  azure-devops/core-projects/03_service_connections_github.tf
  azure-devops/core-projects/10_tls_api-cstar-dev-pagopa-it.tf
  azure-devops/core-projects/10_tls_api-cstar-pagopa-it.tf
  azure-devops/core-projects/10_tls_api-cstar-uat-pagopa-it.tf
  azure-devops/core-projects/10_tls_api-io-cstar-dev-pagopa-it.tf
  azure-devops/core-projects/10_tls_api-io-cstar-pagopa-it.tf
  azure-devops/core-projects/10_tls_api-io-cstar-uat-pagopa-it.tf
  azure-devops/core-projects/10_tls_api_emd_cstar_pagopa_it.tf
  azure-devops/core-projects/10_tls_api_emd_dev_cstar_pagopa_it.tf
  azure-devops/core-projects/10_tls_api_emd_uat_cstar_pagopa_it.tf
  azure-devops/core-projects/10_tls_management-cstar-pagopa-it.tf
  azure-devops/core-projects/10_tls_management-dev-cstar-pagopa-it.tf
  azure-devops/core-projects/10_tls_management-uat-cstar-pagopa-it.tf
  azure-devops/core-projects/10_tls_mcshared-cstar-dev-pagopa-it.tf
  azure-devops/core-projects/10_tls_mcshared-cstar-pagopa-it.tf
  azure-devops/core-projects/10_tls_mcshared-cstar-uat-pagopa-it.tf
  azure-devops/core-projects/10_tls_portal-cstar-dev-pagopa-it.tf
  azure-devops/core-projects/10_tls_portal-cstar-pagopa-it.tf
  azure-devops/core-projects/10_tls_portal-uat-cstar-pagopa-it.tf
  azure-devops/core-projects/10_tls_rtp-cstar-dev-pagopa-it.tf
  azure-devops/core-projects/10_tls_rtp-cstar-pagopa-it.tf
  azure-devops/core-projects/10_tls_rtp-cstar-uat-pagopa-it.tf
  azure-devops/core-projects/20_tls_certs_legacy.tf
  azure-devops/core-projects/99_locals.tf
  azure-devops/core-projects/99_main.tf
  azure-devops/core-projects/README.md
  azure-devops/iac-projects/.terraform.lock.hcl
  azure-devops/iac-projects/00_data.tf
  azure-devops/iac-projects/03_service_connections_azure_deploy.tf
  azure-devops/iac-projects/99_locals.tf
Labels: status: applied
